* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.game {
  
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    background-color: azure;
}
.game__header {
    width: 568px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.game__name {
    padding: 30px 0;
    font-size: 102px;
    font-weight: 600;
    color: grey;
}
.game__controls{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.game__scores {
    display: flex;
    font-size: 28px;
    text-align: center;
    color: azure;
}
.game__score {
    margin-right: 20px;
    padding: 5px 15px;
    background-color: grey;
    border-radius: 8px;
}
.game__best {
    padding: 5px 15px;
    background-color: grey;
    border-radius: 8px;
}
.game__button {
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-width: 0;
    background-color: grey;
    color: azure;
    font-size: 24px;
    font-weight: 600;
}
.game__field {
    /*padding-top: 50px;*/
    margin: 50px auto;
    /*border: 4px solid darkgrey;
    border-radius: 8px;*/
}
TABLE {
    /*border-collapse: collapse;
    border: 16px solid darkgrey;
    border-radius: 8px;*/
    background-color: darkgrey;
    border-spacing: 16px;
    border-radius: 8px;
}
TD {
    height: 122px;
    width: 122px;
    border-radius: 8px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    background-color:lightgrey;
    transition: all 300ms;
    
}
.rules {
    padding: 100px;
    background-color: azure;
}
.rules__text {
    width: 568px;
    margin: 0 auto;
}